body{
    background-color:  #2C3333;
}
.card {
   
    border-radius: 15px;
    max-width: 500px;
    margin: auto;
    text-align: center;
}
.img{
    border-radius: 15px 15px 0 0;

}
.button{
    border: 1px solid black;
    border-radius: 20px;
    height: 70px;
    padding: 8px;
    background-color: transparent;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin: 10px;
}
.title ,p{
    color: white;
    font-size: 18px;
}
h1{
    color: white;
    
}
a {
    text-decoration: none;
    font-size: 22px;
    color: white;
}
